.sass-cache/
*.css.map
*.sass.map
*.scss.map
../Exports/
        ../../../Git/
        ../../../Microsoft VS Code/
        ../../../Notepad++/
        ../../../aws-keys/
        ../../../eclipse/
        ../../../java-2020-12/
        ../../../java/
        ../../../jee-2020-09/
        ../../../mes-vm/
        ../../../usb keyBackup/
        ../../
