@charset "UTF-8";
html{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

   /*background-image: url("seamless.jpg") ;*/
   background-color: #353b48;
   
   background-size: 10%;
   background-repeat: repeat;
}
body{
   /* flex-direction: column;*/
   width: 80%;
    
}

div{
    justify-content: center;
    border: 5px;
    border-radius: 5px;
    border-color: #610600;
    color: #ffffff;
}
h1,p, h3{
    text-align: center;
    color: #ffffff;
}

#canvas{
    /*background-color: aliceblue;*/
    width:100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    border: 5px;
    border-radius: 5px;
    border-color: #192a56;
}
#flags{
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-flex;
    width: -webkit-fill-available;
    position: static;
}

#flagLeft{
    background-color: #7de050;
    width: 32%;
    margin: 0;
    padding: 0;
    height: fit-content;
}
#flagCentre{
    background-color: orange;
    width: 32%;
    margin: 0;
    padding: 0;
    height: fit-content;
}
#flagRight{
    background-color: orchid;
    width: 32%;
    margin: 0;
    padding: 0;
    height: fit-content;
}

#Jeu{
  border: solid;
  border-radius: 20px;
  border-color: #92b1ff;
  background-color: #6b5b95;
  height: fit-content;
}

#enTete{
    text-align-last: center;

}
@font-face {
    font-family: fontTimer;
    src: url(Open_24_Display_St.ttf);
  }
  #spanCentre{
    font-family: fontTimer;
    font-size: 25px;
  }
#popup{
    backface-visibility: hidden;
    color:#0b00a3;
}
#popup2{
  backface-visibility: hidden;
  color:#0b00a3;
  border: outset;
  background-color: darkslateblue;
  border-radius: 30px;
  margin-top: 438px;
  height: 430px;
  display:none;
}
.button_container{
    text-align: center;
    margin: 0 auto;

}
 #button_modal{
     height: 50px;
     width: 100%;
     background-color: #fd9644;
     color: #4b6584;
     font-family: Arial, Helvetica, sans-serif;
     border: none;
     cursor: pointer;
 }
 #button_modal2{
  height: 50px;
  width: 100%;
  background-color: #fd9644;
  color: #4b6584;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  /*background: top;*/
}

 
 #p1{
    color: #ffffff;
    margin-top: 3px;
 }
 #modal{
  height: 520px;
  width: 100%;
  background-color: #e1b12c;
  text-align-last: center;
  border-radius: 8px;
  margin-top: -524px;
 }
 .music{
    background-color: #000000;
    text-align-last: center;
    border-radius: 5px;
    color: antiquewhite;

 }
 #musicPlayer{
  display: grid;
 }
 #timer{
    text-align-last: center;
 }


  }
  @media only screen and (max-width: 769px) {
      /* For mobile phones: */
      #flagLeft, #flagCenter, #flagRight {
        width: 33%;
      }
      h1{
        font-size: 29px;
      }
      p{
        font-size: 18px;
      }
      #modal {
        height: 486px;
        width: 100%;
        background-color: #e1b12c;
        text-align-last: center;
        border-radius: 10px;
        margin-top: -500px;
    }
  
  }
  @media only screen and (max-width: 407px) {
    /* For mobile phones: */
    #flagLeft, #flagCenter, #flagRight {
      width: 22%;
    }
    h1{
        font-size: 29px;
    }
    p{
      font-size: 8px;
    }
    #modal {
      height: 486px;
      width: 100%;
      background-color: #e1b12c;
      text-align-last: center;
      border-radius: 10px;
      margin-top: -500px;
  }
}

  @media only screen and (max-width: 250px){
    #modal {
      height: 587px;
      width: 100%;
      background-color: #e1b12c;
      text-align-last: center;
      border-radius: 10px;
      margin-top: -576px;
  }
}

#RepTcheque{
  height: 141px;
  width: 148px;
/*display: none;*//*il sera masqué depuis le JS*/

}
#RepTcheque #triangleTcheque {
  position: absolute;
  clip-path: polygon(25% 45%, 0% 0%, 0% 90%);
  margin-left: -35%;
  /*height: 22%;
  width: 100%;
  margin-left: 0px;*/
  z-index: 8;
}
  #BasTcheque {
    display: inline-flex;
    background-color: red;
    position: absolute;
    margin-left: -35%;
    height: 68px;
    
    margin-top: 68px;
    
    width: 277px;

  }
  #HautTcheque{
    display: inline-flex;
    position: absolute;
    margin-left: -35%;
    background-color: blue;
    height: 68px;
    width: 277px;
  }
